header
{
  background: linear-gradient( rgba(155, 7, 117, 0.1), rgba(155, 0, 0, 0.2)), url('https://data4.origin.com/content/dam/originx/web/app/games/battlefield/battlefield-4/screenshots/battlefield-4-final-stand/1011899_screenhi_930x524_en_US_04.jpg');
  background-size: cover;
  padding-bottom: 200px;
  margin-top: -80px;
  margin-bottom: -130px;
  padding-top: 130px;
}