.nav-container
{
  @extend .container-fluid;
  border-top: 3px solid map-get($theme-colors, "secondary");
  position: relative;
  background: rgba(map-get($theme-colors, "primary"), 0.95);
  box-shadow: 0px 1px 20px #000000;

  .navbar
  {
    padding: 0 20px;

    #header-nav
    {
      justify-content: space-between;

      .navbar-nav
      {
        &.left
        {
          a
          {
            text-transform: uppercase;
            font-weight: 700;
            padding: 25px 15px;
            font-size: 14px;
          }

          .nav-item
          {
            border-bottom: 2px solid rgba(map-get($theme-colors, "primary"), 0.95);
            transition: border 0.3s;

            &.active,
            &:hover
            {
              border-bottom: 2px solid map-get($theme-colors, "secondary");
            }
          }
        }

        &.right
        {

          a
          {
            padding: 25px 20px;
          }

          li
          {
            border-right: 1px solid #000;

            .dropdown-menu
            {
              background: rgba(map-get($theme-colors, "primary"), 0.95);
              margin: 0;
              border-radius: 0;
              max-height: 0;
              transition: all 0.3s;
              overflow: hidden;
              opacity: 0;
              display: block;
              visibility:hidden;
              width: 100%;
              border-top: none;

              &.show
              {
                max-height: 500px;
                opacity: 1;
                visibility:visible;
              }

              a
              {
                font-size: 14px;
                font-weight: 700;
                padding: 10px 20px;
                border-left: 2px solid rgba(map-get($theme-colors, "primary"), 0.6);
                transition: border-left 0.3s;

                &:hover
                {
                  background: rgba(darken(map-get($theme-colors, "primary"), 10%), 0.9);
                  border-left: 2px solid rgba(map-get($theme-colors, "secondary"), 0.9);
                  color: darken(map-get($bf4db-colors, "font-base"), 10%);
                }
              }
            }

            &:last-child
            {
              border-right: none;
            }
          }

          .level-progress
          {
            display: flex;
            padding: 0px 20px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-transform: uppercase;
            .progress
            {
              color: map-get($bf4db-colors, "font-base");
              display: flex;
              flex-direction: column;
              background: none;
              padding-left: 5px;
              height: 100%;
              font-size: 14px;
              font-weight: 700;

              .experience
              {
                font-weight: 500;
                opacity: 0.6;
              }
            }
          }

          .user-drop
          {
            display: flex;
            flex-direction: row;
            padding: 17px 25px;
            font-size: 14px;

            .avatar
            {
              margin-right: 10px;
            }

            .user
            {
              display: flex;
              flex-direction: column;
              .title
              {
                opacity: 0.6;
              }

              .name
              {
                font-weight: 700;
                i
                {
                  font-weight: 700;
                  padding-left: 10px;
                }
              }
            }

            &:after {
              content: '';
            }
          }
        }

        &.left,
        &.right
        {
          a
          {
            color: map-get($bf4db-colors, "font-base");
            transition: color 0.3s;

            &:hover
            {
              color: darken(map-get($bf4db-colors, "font-base"), 10%);
            }
          }

          .notification,
          .mail
          {
            display: flex;
            justify-content: center;
            align-items: center;

            i
            {
              color: map-get($bf4db-colors, "font-base");
              font-size: 22px;
              position: relative;

              .count
              {
                text-align: center;
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: red;
                top: -5px;
                right: -4px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                .text
                {
                  font-family: 'Roboto', sans-serif;
                }
              }
            }
          }
        }
      }
    }
  }
}
