body
{
  font-family: 'Roboto', sans-serif;
  background: theme-color("primary-tone");
  color: theme-color("text-primary");
}

.bf4db-feature
{
  color: map-get($bf4db-colors, "font-base");
  background: theme-color("primary");
  border: 1px solid rgba(theme-color("secondary"), 0.1);
  border-radius: 2px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  text-transform: uppercase;

  @media (max-width: 767px)
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}